* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #4b4b4b;
    font-family: Tahoma, serif;
    line-height: 1.5rem;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

header p {
    justify-self: center;
    font-size: 1.5rem;
}

header img {
    height: 1.5rem;

}
/* Header */
.header {
    height: 12rem;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1538240175502-ec4eb4455f34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.blog-heading {
    text-align: center;
    padding: 3rem 0;
    color: #775959;
    line-height: 2rem;
}

/* Post section */
.post-box {
    width: 80%;
    margin: 0 auto;
}

.post {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    background: rgba(245, 240, 239, 0.54);
}

.post h2, .post h4 {
    margin-bottom: 2rem;
    text-align: center;
}

.post-text {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.post .post-img {
    width: 100%;
}

.post .post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.post button {
    background-color: #775959;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 8rem;
    cursor: pointer;
    margin: 2rem 0;
}

.post button:hover {
    background-color: #cbb8b8;
    color: #775959;
}

footer {
    margin: 0 auto;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #775959;
}

.footer-box {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

footer li {
    list-style: none;
}

footer li a {
    color: white;
    cursor: pointer;
}

footer li a:hover {
    color: #cbb8b8
}

@media (min-width: 700px) {
    .header {
        height: 25rem;
    }

    .post {
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        padding: 2rem;
        margin-bottom: 2rem;
        background: rgba(245, 240, 239, 0.54);
    }

    .post h2, .post h4 {
        margin-bottom: 1rem;
    }

    .post p {
        margin: 1rem 2rem 1rem 0;
    }

    .post-text {
        width: 60%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: left;
        align-items: start;
    }

    .post button {
        margin: 1rem 0;
    }

    .post .post-img {
        width: 40%;
    }
}
